<h1>Stock Manager</h1>
<form id="indexForm" class="formStyle">
  <button type="submit" form="indexForm" formaction="categories/">Categories</button>
  <button type="submit" form="indexForm" formaction="products/">Products</button>
</form>
