/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  font-family: verdana;
  background-color: #aef;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 160%;
  letter-spacing: 2px;
  background-color: #2980b9;
  color: #aef;
  margin-top: 0;
  text-align: center;
  height: 60px;
  line-height: 60px;
}
button, input[type='submit'] {
  border: 0;
  background-color: #2980b9;
  color: white;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
  letter-spacing: 1px;
  opacity: 0.8;
  margin: 10px;
}
button {
  padding: 1em;
  font-size: 120%;
  border-radius: 12px;
}
input[type='submit'] {
  padding: 0.6em;
  font-size: 80%;  
  border-radius: 10px;
}
button:hover, input[type='submit']:hover {
  opacity: 1;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
select {
  height: 2em;
  font-size: 100%;
  outline: 0;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  display: block;
  /*margin-left: 20px;*/
}
input[type='text'], textarea {
  height: 2em;
  font-size: 100%;
  outline: 0;
  border-radius: 5px;
  border: 0;
  padding-left: 0.5em;
  padding-right: 0.5em;
  /*margin-left: 20px;*/
}
input[type='text']:hover, textarea:hover {
  background-color: #ffe;
}
input[type='text']:focus, textarea:focus {
  background-color: #ffd;
}
textarea {
  height: 4em;
  font-size: 90%;
}
table {
  background-color: white;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  margin-top: 5px;
  opacity: 0.9;
}
table th {
  padding: 0.5em;
  text-align: center;
  background-color: #eee;
}
table td {
  padding: 0.5em;
  font-size: 90%;
}
table tr:hover {
  background-color: #ffe;
}
#searchContainer {
  text-align: center;
  white-space: nowrap;
  margin-bottom: 10px;
}
#productCount {
  text-align: center;
  font-size: 80%;
}
#homeLink {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 60px;
  line-height: 60px;
  background-color: rgba(0,0,0,0.1);
  padding-right: 1em;
  padding-left: 1em;
  text-decoration: none;
  color: #aef;
}
#homeLink:hover {
  background-color: rgba(0,0,0,0.2);
}
.formStyle {
  background-color: #9de;
  padding: 20px;
  border-radius: 50px;
  border: 2px dotted #7bc;
  margin: 10px;
  text-align: center;
}
.formRow {
  margin-top: 20px;
  width: 100%;
}
.table {
  display: table;
  width: 100%;
  border-spacing: 10px;
}
.row {
  /*width: 100%;*/
  display: table-row;
}
.cell {
  width: 50%;
  display: table-cell;
  vertical-align: top; 
}
.rightAlign {
  text-align: right;
}
.leftAlign {
  display: block;
  text-align: left;
}
label {
  font-weight: bold;
  text-align: right;
  padding-top: 5px;
}




